:root {
    --bg-color: #5EC757;
    --black: #333;
    --semiwhite: rgb(240, 240, 240);
    --accents: rgb(241, 238, 6);
}

html {
    font-family: 'Literata', serif;
    text-align: center;
    box-sizing: border-box;
    color: var(--black);
    background-color: var(--bg-color);
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3 {
    font-weight: 600;
    color: var(--semiwhite);
}
h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--accents);
}
h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

label {
    font-size: 1.5rem;
}

a {
    color: var(--black);
    font-style: italic;
    transition: font-weight 0.5s ease-in-out;
}
a:hover {
    font-weight: 600;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:100vh;
    margin:0;
}

header {
    margin: 0rem 0rem 4rem 0rem;
    min-height: 300px;
    padding: 0rem 2rem 0rem 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: var(--black);
    border-bottom: 8px solid var(--semiwhite);
}

main {
    padding: 0rem 2rem 0rem 2rem;
    flex-basis: 100%;
}

footer {
    align-self: flex-end;
    margin-top: auto;
    padding: 2rem 2rem 4rem 2rem;
    width: 100%;
    background-color: var(--accents);
    border-top: 4px solid var(--black);
}

section {
    padding: 0rem 2rem 0rem 2rem;
}

input {
    font-family: 'Literata', serif;
}

input[type=submit] {
    padding: 1rem;
    background-color: var(--black);
    width: 50%;
    max-width: 400px;
    min-width: 100px;
    border: none;
    color: var(--accents);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    transition: background-color 0.5s ease-in-out;
}

input[type=submit]:hover {
    color: var(--black);
    background-color: var(--accents);
}

input[type=text] {
    background-color: var(--semiwhite);
    padding: 1rem;
    min-width: 300px;
    width: 100%;
    max-width: 800px;
    margin: 1rem 0rem 1rem 0rem;
    border: solid 4px var(--black);
    cursor: text;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Literata', serif;
    transition: background-color 0.5s ease-in-out;
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

input[type=text]:focus {
    background-color:var(--accents);
}

.roulette-form {
    padding-bottom: 4rem;
}

#letterers {
    width: 100%;
    padding: 2rem 2rem 4rem 2rem;
    border-top: 4px solid var(--black);
    border-bottom: 4px solid var(--black);
    margin-bottom: 4rem;
}

.letterers-element {
    display: flex;
    align-items: stretch;
    justify-content:space-around;
    border-bottom: 4px solid var(--accents);
}

.letterers-element-child {
    padding: 1rem;
    flex-basis: calc(100%/3);
    font-size: 1.5rem;
}

@media only screen and (max-width: 800px)  {
    header {
        min-height: 250px;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    #letterers {
        padding: 1rem 1rem 2rem 1rem;
    }
    .letterers-element-child {
        font-size: 1rem;
        padding: .5rem;
    }
    input[type=submit] {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px)  {
    header {
        min-height: 200px;
    }
    h1{
        font-size: 2.2rem; 
    }
    h3 {
        font-size: 1rem;
    }
    .letterers-element-child {
        font-size: 0.8rem;
        padding: .5rem 0rem;
    }
}
